
*{
    box-sizing: border-box;

}
body{
    background-color: coral;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    margin: 0;
    overflow: hidden;
}
div{
    position: absolute;
    bottom: 20px;
    font: 10px;
    background:rgba(0,0,0,0.1);
    padding:10px 20px;


}
input{
    font-size: 10px;
    width:50px;
    padding: 5px;
    text-align: center;

}
input:focus{
    outline: none;
}

