*{
    box-sizing: border-box;
}
body{

    display:flex;
   align-items: center;
   justify-content: center;
   
   overflow: hidden;
   background-color: pink;

}
.container{
    background-color: bisque;
    border-radius: 5px;
    width: 300px;
    overflow: hidden;
}
.title{
    margin: 0;
}
.subtitle{
     display: inline-block;
     margin:5px 0 10px;
}
.header{
    background-color: blueviolet;
    padding:30px 20px;
    color: white;

}
.header input{
    background-color: brown;
    color: white;
    border-radius:50px ;
    border: 0;
    width: 100%;
    padding: 10px 15px;


}
.user-list{
    background-color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 500px;
    overflow-y: auto;
    
}
